{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">
    <ul class="blog">
        {{#post}}
            <li style="margin-bottom: 0px;">
                <div class="article-badge"><i class="fa fa-send"></i></div>

                <article itemtype="http://schema.org/BlogPosting" itemscope="" itemprop="blogPost">
                    <div class="article-heading">
                        <div class="article-title">
                            <h1 class="title" itemprop="name">
                                <a href="{{url}}" itemprop="url">{{{title}}}</a>
                            </h1>

                            <div class="article-meta">
                            <span class="date">
                                <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
                            </span>
                            <span class="tags">
                                <i class="fa fa-fw fa-tag">
                                </i>
                                {{tags}}
                            </span>
                            </div>
                        </div>
                    </div>
                    <hr/>

                    <div class="article-body" itemprop="articleBody">
                        <div>
                                {{content}}&hellip;
                        </div>
                        <hr/>
                        <div class="article-footer">

                        </div>

                    </div>
                </article>
            </li>
        {{/post}}
    </ul>
</main>